# created by virtualenv automatically
# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Environment variables
.env

# images folder
images/

# landmarks data
data/

# docx file
*.docx

#gesture classes
SPJ_one_hand_gesture_classes.xlsx